.parent {
    width: 100vw;
    height: 100vh;
    border: 1px solid red;
    display: flex;
    flex-direction: row;
    }
    .child {
    margin-top: 12px;
    width: 35%;
    background-color: none;
    border: 1px solid black;
    object-position: right;
    }
    .child[id="primary"]{
        display: block;
        margin-block-start: 0.83em;
        margin-block-end: 0.83em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        font-weight: bold;
        font-weight: 600;
        line-height:20px;
        font-size:17px;
        margin: 0 40px 10px;
        color: #999;
        text-align: center;
        font:inherit;
        /* vertical-align: baseline; */
        width: 350px;
        height: 784px;
        background-color: green;
        border: 1px solid black;
    }